body {
	font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    line-height: 1.34;
}

p {
	font-family: 'Open Sans', sans-serif;
}

.navbar .nav > li > a {
	font-size: 18px;
}

.navbar .nav > li.active > a, .navbar .nav > li.active > a:hover, .navbar .nav > li.active > a:focus {
	background: none;
	color: #d7730f;
}

.navbar .nav > li.active > a, .navbar .nav > li.active > a:hover, .navbar .nav > li.active > a:hover {
	background: none;
	color: #d7730f;
}

.navbar .nav > li.active > a, .navbar .nav > li.active > a:hover, .navbar .nav > li.active > a:active {
	background: none;
	color: #F5B06D;
}

.rsvp-nav-button {
	border-radius: 4px;
	border: solid 2px #F5B06D;
	padding: 0px 12px 0px 12px !important;
	margin-top: 20px;
	margin-left: 18px;
	background-color: #F5B06D;
	color: white !important;
}

.rsvp-nav-button:hover {
	background-color: #d7730f;
}

.section_wrapper header {
    padding-top: 56px;
    position: relative;
    z-index: 2;
}
.header-image .site-header .title-area {
    margin-top: 0px;
}

.btn.btn-default {
    background-color: #F5B06D !important;
}

.btn.btn-default:hover {
    background-color: #f08c28 !important;
}

.btn.btn-primary {
    background-color: #F5B06D !important;
	margin-bottom: 32px !important;
}

nav.nav-primary ul li a:hover {
  color: #f08c28 !important;
}

.bg-text-1 {
	font-family:'Azbuka W01';
	font-size: 4vw;
	color: white;
  	margin: 0px 0px 0px 16px;
  	z-index: 100;
  	position: absolute;
}

#clock {
	margin-top: 15px;
	margin-left: 16px;
}

#home p img.aligncenter { 
	margin-bottom: -36px; 
}

p.time {
	margin-top: -28px;
	font-size: 90%;
}

p.details {
	font-size: 90%;
}

#first, #second, #third, #fourth, #fifth {
    background-attachment: scroll !important;
    padding-top: 40px;
}

.site-title {
    color: #8B5139;
}
.site-title > a {
    color: #8B5139;  
}

h1.entry-title a {
    color: #8B5139 !important;
}

.site-footer {
    padding: 7px 0;
	margin-top: 56px;
}


