/*
	Theme Name: Start
	Description: Start is bootstrap-based child theme created for the Genesis Framework.
	Author: zigzagpress
	Author URI: http://www.zigzagpress.com/
 
	Version: 1.2.8
 
	Tags: one-column, two-columns, three-columns, fluid-layout, fixed-layout, custom-menu, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready
 
	Template: genesis
	Template Version: 2.2.7
 
	License: GPL-2.0+
	License URI: http://www.opensource.org/licenses/gpl-license.php 
*/
 




/* - Structure ----------- */

.home .site-inner {
    padding: 0;
}

.site-inner {
    padding: 72px 0;
}

.sidebar-content .entry   {
    padding: 0 0 24px 40px;
}

.sidebar-content .sidebar {
    border-right:  1px solid #ECF0F1;
    padding: 0 40px 0 0;
}

.content-sidebar .entry {
    padding: 0 40px 24px 0;
}

.content-sidebar .comment-respond {
	padding-right: 40px;
}
.sidebar-content .comment-respond {
	padding-left: 40px;
}

.content-sidebar .sidebar {
    border-left: 1px solid #ECF0F1;
    padding: 0 0 0 40px;
}

.sidebar-content .content {
	float: right;
}

/* - Header ----------- */

#header.navbar.navbar-fixed-top {
    background:  #fff;
    border-bottom: 1px solid #ECF0F1;
}
.navbar section {
    padding-top: 0;
    padding-bottom: 0;
}

.nav-header {
	float: right;
}

.site-title {
	color: #34495E;
	display: inline-block;
	font-size: 24px !important;
	font-weight: 700;
	margin-bottom: 0 !important;
	line-height: 70px;
	text-shadow: none;
}
.site-title > a {
    color: #34495E;
    position: relative;
    top: 0;
}

.site-title > a:hover, .site-title > a:focus {
	color: #1ABC9C;
}

.navbar  .title-area.navbar-brand {
	padding: 0;
}
.header-image .site-title {
	margin: 0;
}

.site-description {
	display: none;
	line-height: 1.25;
	margin: 0;
	padding: 0;
}

.header-image .site-title,
.header-image .site-title a,
.header-image .title-area {
	display: block;
	float: left;
	overflow: hidden;
	text-indent: -9999px;
	width: 50%;
}

.header-image .site-description {
	display: none;
	overflow: hidden;
}
.header-image .site-header .title-area{
	margin-top: 16px;	
}

/* - Post Info & Meta ----------- */

.entry-header {
    border-bottom: 1px solid #ECF0F1;
    margin: 0 0 32px;
    padding: 0 0 24px;
}

.entry-footer {
    border-top: 1px solid #ECF0F1;
    clear: both;
    margin: 32px 0 0;
    padding: 24px 0 0;
}

.entry-header .entry-meta, .entry-comments-link a, .entry-author-name, .entry-footer .entry-meta {
    color: #91A3B5;
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 0;
    text-transform: uppercase;
}
.entry-header .entry-meta {
	margin-bottom: 0;
}
.entry-comments-link {
	padding: 12px 0;
}
.homepage_template .entry-comments-link {
	padding: 6px 0;
}
.entry-comments-link::before, .entry-tags:before {
    content: "\2014";
    margin: 0 6px 0 2px;
}
.entry-content {
	text-align: left;
}

.entry-content ul, .entry-content ol {
    padding-bottom: 24px;
}

.entry-content ul.children { padding-bottom: 0}
/*
 Menus
---------------------------------------------------------------------------------------------------- */

.menu.genesis-nav-menu.menu-secondary.nav.navbar-nav.pull-right,
.menu.genesis-nav-menu.menu-primary.nav.navbar-nav.pull-right {
    padding: 0;
}

.nav-primary ul li a{
	text-align: left;	
}

/*- Primary Navigation Extras ----------- */

.genesis-nav-menu li.right {
	display: none
}

/*
Headings
---------------------------------------------------------------------------------------------------- */

.entry-title {
    margin-bottom: 32px;
    text-transform: uppercase;
}

h1.entry-title a {
    color: #34495E;
}

h1.entry-title a:hover {
    color: #1ABC9C;
}
.entry-title:after, .author-box:after {
    background: none repeat scroll 0 0 #1ABC9C;
    bottom: -10px;
    content: "";
    display: block;
    height: 10px;
    position: relative;
    width: 100px;
}
.home header p.lead:after {
    background: #34495E;
    bottom: -30px;
    content: "";
    display: block;
    height: 10px;
    margin: 0 auto;
    position: relative;
    width: 100px;
}

.archive-title {
   font-size: 30px;
}
.author-box {
    margin: 24px 0;
    padding: 24px 0;
}

.author-box-title {
    font-size: 21px;
}
.author-box-content > p {
    clear: both;
}
.author-box .avatar { margin: 0 16px 16px 0; max-width:64px; }

.content-sidebar .author-box {
    margin: 24px 40px 0 0;
    padding: 20px 0;
}
.sidebar-content .author-box  {
	margin: 24px 0 0 40px;
    padding: 24px 0 0 0;
}

/*
Comments
---------------------------------------------------------------------------------------------------- */
ol.comment-list {
    padding: 0;
}

.comment-form-author, .comment-form-email, .comment-form-url {
    margin: 0;
    padding: 0;
}
.entry-comments {
    padding: 40px;
}
.comment-respond,
.entry-comments,
.entry-pings { margin-bottom: 40px }
.comment-respond,
.entry-pings { padding: 40px 0 16px }
.comment-content { clear: both }

.entry-comments .comment-author { 
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    margin-bottom: 0;
    padding: 0;
}

.entry-comments .comment-meta {
    color: #91A3B5;
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 0;
    padding: 0;
    text-transform: uppercase;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] { width: 50% }
.comment-respond label {
    display: block;
    margin-right: 12px;
}
.comment-list li,
.ping-list li { list-style-type: none }
.comment-list li {
    margin-top: 20px;
    padding: 32px;
}
.comment-list li li {
    margin-right: -32px;
    border-right-width: 0
}
li.comment {
    background-color: #fff;
    border: 1px solid #fafafa;
}
.comment .avatar { margin: 0 16px 20px 0 }
.entry-pings .reply { display: none }
.bypostauthor { }
.form-allowed-tags {
    background-color: #fafafa;
    border: 1px solid #eaeaea;
    font-size: 14px;
    padding: 24px;
}
.comment-reply a {
    background-color: #1ABC9C;
    border: medium none;
    border-radius: 6px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 15px;
    line-height: 22px;
    padding: 9px 12px 10px;
    text-decoration: none;
    transition: all 0.25s linear 0s;
}
.comment-reply a:hover {
	background-color: #48C9B0;
	color: #FFFFFF;
}
.form-allowed-tags code { 
    background-color: transparent;
    border: none;
    color: inherit;
    padding: 0
}
/*
Sidebar
---------------------------------------------------------------------------------------------------- */
.sidebar {
    display: inline;
    font-size: 16px;
    line-height: 1.5;
}

.widgettitle {
    font-size: 16px;
    margin-bottom: 32px;
    padding-bottom: 15px;
    position: relative;
    text-transform: uppercase;
}

.widgettitle:after {
    background: #1ABC9C;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    position: absolute;
    width: 50px;
}


.sidebar p {
	margin-bottom: 16px;

}

.sidebar .widget {
	border-bottom: 1px solid #ECF0F1;
	margin-bottom: 32px;
	padding: 0 0 32px;
}

.sidebar .widget:last-child {
	border-bottom: 0;
	margin-bottom: 0;
}

.sidebar.widget-area ul {
	padding-left: 0;
}
.sidebar.widget-area ul li {
	list-style-type: none;
	word-wrap: break-word;
}

.recentcomments {}
#recentcomments {}
#recentcomments li {list-style: none; padding: 8px 0 0 0;}
#recentcomments li:before {float: left; font-family: 'FontAwesome'; content: "\f105"; padding-right: 10px;}
#recentcomments li a {}
.widget_recent_comments {}

.widget_recent_entries {}
.widget_recent_entries ul {}
.widget_recent_entries ul li {list-style: none; padding: 8px 0 0 0;}
.widget_recent_entries ul li:before {color: #91A3B5; float: left; font-family: 'FontAwesome'; content: "\f105"; padding-right: 10px;}
.widget_recent_entries ul li a {}


/*
 Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	clear: both;
	padding: 20px 0;
}

.site-footer .creds p{
	margin: 0;
	padding: 0;
	text-align: center;
}


/*
Forms & Buttons
---------------------------------------------------------------------------------------------------- */

/* Forms
--------------------------------------------- */

input,
select,
textarea {
	background-color: #fff;
	border: 2px solid #BDC3C7;
	border-radius: 3px;
	box-shadow: 1px 1px 3px #eee inset;
	color: #34495E;
	font-size: 16px;
	padding: 16px;
	padding: 1.6rem;
	width: 100%;
}

input:focus,
textarea:focus {
	border-color: #1ABC9C;
	outline: none;
}


button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.entry-content .button {
	background-color: #1ABC9C;
	border: none;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	padding: 16px 24px;
	padding: 1.6rem 2.4rem;
	text-transform: uppercase;
	width: auto;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover,
.entry-content .button:hover {
	background-color: #48C9B0;
}

.entry-content .button:hover {
	color: #fff;
}

.button {
	border-radius: 3px;
	display: inline-block;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
	display: none;
}

.search-span.input-group-btn {
	left:-1px;	
}
.search-btn.btn{
	padding-left: 20px;
	padding-right: 20px;	
}

/*
Images & Captions
---------------------------------------------------------------------------------------------------- */

embed,
img,
object,
video {
	max-width: 100%;
}

img {
	height: auto;
}

.alignleft .avatar {
	margin-right: 24px;
	margin-right: 1.5rem;
}

.alignright .avatar {
	margin-left: 24px;
	margin-left: 1.5rem;
}

.author-box .avatar {
	float: left;
	margin-right: 24px;
	margin-right: 1.5rem
}

.comment-list li .avatar {
	float: left;
	margin: 0 16px 24px 0;
	margin: 0 1rem 1.5rem 0;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 24px;
	margin: 0 auto 1.5rem
}

img.alignnone {
	display: inline;
	margin-bottom: 12px;
	margin-bottom: 0.75rem;
}

img.alignleft,
.post-image,
.wp-caption.alignleft {
	display: inline;
	margin: 0 24px 24px 0;
	margin: 0 1.5rem 1.5rem 0;
}

img.alignright,
.wp-caption.alignright {
	display: inline;
	margin: 0 0 24px 24px;
	margin: 0 0 1.5rem 1.5rem;
}

p.wp-caption-text {
	line-height: 1.2;
	margin-top: 12px;
	margin-top: 0.75rem;
}

code{
	white-space: normal !important;	
}

img.center-block {
    display: block;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
}
.gallery-caption{
	display: inline-block;	
}

/*
Extras
---------------------------------------------------------------------------------------------------- */
.enews-subbox, .enews input[type="submit"], .enews-widget input {
    background-color: #FFFFFF;
    border: 2px solid #BDC3C7;
    border-radius: 6px;
    box-shadow: none;
    color: #526476;
    font-size: 16px;
    height: 41px;
    line-height: 1.231;
    padding: 8px 12px;
    width: 100%;
}

.enews-widget input:focus {
    border-color: #1ABC9C;
    box-shadow: none;
    outline: 0 none;
}

.form-submit > input, #subbutton, .form-submit > input, #subbutton:focus, .form-submit > input {
    background-color: #1ABC9C;
    border: medium none;
    border-radius: 6px;
    color: #FFFFFF;
    vertical-align: middle;
    width: auto;
}


#subbutton:hover {
	 background-color: #48C9B0;
}

.widget.latest-tweets li {
    margin: 0 0 12px;
}
.archive-pagination.pagination {
    padding: 0 40px;
}

/* Genesis Featured Post/Page Widgets
---------------------------------------------------------------------------------------------------- */
.featuredpost .entry {
    background-color: transparent;
    padding: 16px 0;
    margin-bottom: 0;
}
.featuredpost .entry:last-child { border-bottom-width: 0 }
.featuredpost .entry-title,
.featuredpage .entry-title {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 5px;
    text-transform: none;
}
.featuredpost .entry-title:after,
.featuredpage .entry-title:after {
	display: none;
}
.featuredpage .entry-header, .featuredpost .entry-header {
	border-bottom: none;
    margin: 0;
    padding: 0;
}
.featuredpost .entry-meta,
.featuredpage .entry-meta { 
    font-size: 13px;
    margin-bottom: 0
}
.featuredpost .alignleft,
.featuredpost .alignright,
.featuredpost .alignnone,
.featuredpage .alignleft,
.featuredpage .alignright,
.featuredpage .alignnone  {
    display: block;
    margin-bottom: 0
}
.featuredpage .entry {}

.featuredpage .entry-header, .featuredpost .entry-header {
}

.featuredpost .entry-content > p, .featuredpage .entry-content > p {
    margin: 0;
    padding: 0;
}

.user-profile {
    background-color: #FCFCFC;
    border: 1px solid #EAEAEA;
    padding: 24px;
}


/* =WordPress
---------------------------------------------------------------------------------------------------- */
.avatar { float: left }
.search-form input[type="submit"],
#searchform input[type="submit"],
#searchform .screen-reader-text,
#bbp_search_submit  {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
}
.alignnone { margin: 0 0 24px }
.aligncenter,
div.aligncenter {
    display: block;
    margin: 0 auto 24px auto;
}
.alignright {
    float: right;
    margin: 5px 0 24px 20px;
}
.alignleft {
    float: left;
    margin: 0 20px 24px 0;
}
.aligncenter {
    display: block;
    margin: 0 auto 24px auto;
}
a img.alignright {
    float: right;
    margin: 5px 0 24px 20px;
}
a img.alignnone { margin: 5px 20px 24px 0 }
a img.alignleft {
    float: left;
    margin: 5px 20px 24px 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.wp-caption {
    background: #fff;
    border: 1px solid #eaeaea;
    max-width: 100%;
    padding: 10px 10px 0;
    text-align: center;
    overflow: hidden;
}
.wp-caption.alignnone { margin: 0 0 24px }
.wp-caption.alignleft { margin: 5px 20px 24px 0 }
.wp-caption.alignright { margin: 5px 0 24px 20px }
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0 0 10px;
    max-width: 100%;
    padding: 0;
    width: auto;
}
.wp-caption img.wp-smiley{ margin: 0;}
.wp-caption p.wp-caption-text {
    font-size: 12px;
    margin: 0 0 10px;
    padding: 0 4px 5px;
}

/*  Fullwidth Slider Carousel Effect
---------------------------------------------------------------------------------------------------- */

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration:1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 999;
}

/* When Admin bar is enabled */
body.admin-bar header#header{
    margin-top: 32px;
}